* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Thanh thông tin trên cùng  */
.top-bar {
    display: flex;
    color: #fff;
    background-color: black;
    height: 66px;
    width: 100%;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
}

.top-bar a {
    color: #fff;
    text-decoration: none;
    margin-left: 17px;
    margin-right: 17px;
}


.left-info {
    margin-left: 72px;
    display: flex;
}

.left-info span {
    margin-left: 17px;
}


.right-info {
    display: flex;
    align-items: center;
    margin-right: 72px;
}

.right-info .a4 {
    margin-right: 0;
}

.right-info img {
    margin-left: 17px;
}

/* Thanh menu chính */
.main-navbar {
    display: flex;
    height: 88px;
    align-items: center;
    font-size: 16px;
    color: #687C8F;
    justify-content: space-between;
    margin: 0 72px;
}

.main-navbar .main-left {
    display: flex;
}

.main-navbar .main-left .logo {
    width: 153px;
    height: 51px;
}

.main-navbar .menu {
    display: flex;
    align-items: center;
}

.main-navbar .menu a {
    text-decoration: none;
    margin-left: 26px;
    color: #687C8F;
}

.main-navbar .main-right {
    display: flex;
    align-items: center;
}

.main-navbar .search {
    margin-right: 35px;
    display: flex;
    position: relative;
    align-items: center;
    width: 202px;

}

.main-navbar .search input {
    width: 100%;
    height: 35px;
    padding: 10px 40px 10px 15px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    color: #857E8C;
}

.main-navbar .search .fa-magnifying-glass {
    position: absolute;
    right: 15px;
    color: #5a6b7b;
    font-size: 20px;
}


.main-navbar .sup-icon {
    display: flex;
    align-items: center;
}

.main-navbar .sup-icon i {
    margin-right: 26px;
    font-size: 22px;
}

.sup-icon i:nth-child(3) {
    margin-right: 0;
    font-size: 26px;
}

.sup-main-navbar {
    display: none;
}

.sup-content-section {
    display: none;
}

/* Thanh sale  */
.sale {
    background-color: #F43636;
    display: flex;
    height: 90px;
    font-size: 38px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Sansita Swashed', cursive;
}

/* home-page */
.home-page {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 716px;
}

.home-page .image-section {
    background-image: url(/Image/asics_homepage_desktop_hero_tile_novablast_5_teaser_102824.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.home-page .content-section {
    position: absolute;
    align-items: center;
    margin-right: 80px;
}

.home-page .content-section span {
    font-weight: bold;
}

.home-page .content-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #001E62;
}

.home-page .content-section p {
    font-size: 20px;
    color: #001E62;
    margin-top: 24px;
}

.home-page .content-section .p2 {
    margin-top: 13px;
}

.home-page .buttons {
    display: flex;
    gap: 15px;
    margin-top: 28px;
}

.home-page .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.home-page .btn-primary {
    background-color: #461571;
    color: white;
}

.home-page .btn-secondary {
    background-color: #461571;
    color: #fff;
}
/* End  */


/* Thêm content cho màn mobile  */
.sup-content-homepage {
    display: none;
}

/* Thanh phụ đề  */
.notification {
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
    margin-top: -20px;
}

.notification i {
    font-size: 24px;
}

.notification .message {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 136px;
}

/* Sản phẩm KAYANO31  */
.product-kayano31 {
    background-image: url(/Image/asics_homepage_desktop_thin_hero_k31_110124.png);
    height: 450px;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.product-kayano31 .content-section {
    position: absolute;
    align-items: center;
    padding-left: 136px;
}

.product-kayano31 .content-section h2 {
    color: #fff;
}

.product-kayano31 .content-section h2:last-child {
    margin-top: 5px;
}

.product-kayano31 p {
    color: #fff;
    font-size: 16px;
    margin-top: 12px;
}

.product-kayano31 .content-section button {
    color: #001E60;
    font-size: 20px;
    border-radius: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 28px;
}
/* End */


/* product-kayano31 phụ màn mobile */
.sup-content-kayano31 {
    display: none;
}
/* End  */


/* Thanh phụ đề phụ màn mobile */
.sup-notification-kayano31 {
    display: none;
}

/* End  */


/* product-markdown  */
.product-markdown {
    width: 100%;
    height: 568px;
}

.product-markdown .title {
    margin: 75px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #001E63;
}

.product-markdown .content-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.product-markdown .content-section .products {
    border: 1px solid #969292;
    border-radius: 12px;
    padding: 14px 12px 39px 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.product-markdown .content-section .products .sale {
    border-radius: 5px;
    width: 44px;
    height: 28px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.product-markdown .content-section .products .product-img {
    margin-top: 23px;
    margin-bottom: 48px;
}

.product-markdown .content-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Đổ bóng */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.product-markdown .content-section .row i {
    color: #817C7C;
}

.product-markdown .content-section .product-detail {
    margin-left: 13px;
}

.product-markdown .content-section .product-name {
    display: flex;
    justify-content: center;
    color: #461571;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-markdown .content-section .category {
    color: #666666;
    margin-bottom: 5px;
}

.product-markdown .content-section .feedback {
    color: #615A5A;
    margin-bottom: 3px;
}

.product-markdown .content-section .feedback i {
    color: #7BF81C;
}

.product-markdown .content-section .new-price {
    color: #CD0808;
    font-size: 17px;
    margin-bottom: 3px;
}

.product-markdown .content-section .old-price {
    color: #A09898;
    font-size: 13px;
}

/* End product-markdown */


/* GEL-1090  */
.product-gel1090 .img-section {
    height: 450px;
    width: 100%;
    background-image: url(/Image/asics_homepage_desktop_hero_gel_1090_v2_110124.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.product-gel1090 .img-section .content-section h2 {
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    color: #000;
}
.product-gel1090 .img-section .content-section h2:last-child {
    margin-top: 5px;
}

.product-gel1090 .img-section .content-section .description p{
    font-size: 16px;
    margin-top: 12px;
}

.product-gel1090 .img-section .content-section {
    position: absolute;
    align-items: center;
    padding: 0 80px;
}

.product-gel1090 .img-section .content-section .buttons {
    display: flex;
    gap: 15px;
    margin-top: 28px;
}

.product-gel1090 .img-section .content-section .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.product-gel1090 .img-section .content-section .btn-primary {
    background-color: #0B0510;
    color: white;
}

.product-gel1090 .img-section .content-section .btn-secondary {
    background-color: #0B0510;
    color: #fff;
}
/* End GEL-1090 */


/* Thêm content GEL-1090 cho màn Mobile  */
.sup-content-gel1090 {
    display: none;
}

/* End */


/* Feedback  */
.feedbacks {
    height: 636px;
    width: 100%;
}

.feedbacks .feedback-title {
    display: flex;
    justify-content: center;
}

.feedbacks .feedback-title p {
    margin: 85px 0;
    font-size: 30px;
    font-weight: bold;
    color: #001E63;
}

.feedbacks .feedback-content {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.feedbacks .feedback-content .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 339px;
    height: 330px;
    background-color: #FFFDFD;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 17px;
    margin-right: 47px;
}

.feedbacks .feedback-content .content:last-child {
    margin-right: 0;
}

.feedbacks .feedback-content .content .top-icon {
    display: flex;
    justify-content: flex-start;
    color: #661FA5;
    font-size: 48px;
    margin-left: 42px;
    margin-top: -17px;
}

.feedbacks .feedback-content .content .person-feedback {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}

.feedbacks .feedback-content .content .person-feedback .person-name p:last-child {
    font-size: 12px;
    color: #8899A8;
    margin-top: 3px;
}

.feedbacks .row-next {
    display: flex;
    justify-content: center;
}

.feedbacks .row-next i {
    margin-right: 7px;
    color: #19216B;
}

.feedbacks .row-next i:nth-child(2) {
    background-color: #19216B;
    border-radius: 50%;
}

.feedbacks .row-next i:last-child {
    margin-right: 0;
}

/* End Feedback */


/* Footer  */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 218px;
    background-color: #030303;
    color: #fff;
    padding: 20px 52px;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.footer-section {
    margin-right: 20px;
}

.footer-section h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #007BFF;
    /* Đổi màu khi hover */
}

.logo-section {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Footer  */


/* Chat-box */
.chatbox {
    width: 316px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F43636;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 13px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 18px;
    right: 5px;
}

.chatbox .chat-icon i {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

/* End Chat-box */


/*Ipad dọc(834 x 1024)*/
/* tablet model */
@media (max-width: 835px) {

    /* Thanh thông tin trên cùng  */
    .top-bar {
        height: ;
        font-size: 14px;
    }

    .left-info {
        margin-left: 29px;
        display: flex;
    }

    .right-info {
        display: flex;
        align-items: center;
        margin-right: 29px;
    }

    .right-info .a4 {
        margin-right: 0;
    }

    .right-info .a1,
    .right-info .a2 {
        display: none;
    }

    .right-info .span1,
    .right-info .span2 {
        display: none;
    }

    .right-info img {
        margin-left: 17px;
    }

    /*End Thanh thông tin trên cùng  */


    /* Thanh menu chính */
    .main-navbar {
        height: 77px;
        margin: 0 50px;
    }

    .main-navbar .menu {
        display: none;
    }

    .main-navbar .menu a {
        text-decoration: none;
        margin-left: 26px;
        color: #687C8F;
    }

    .main-navbar .search {
        width: 300px;
    }

    .sup-main-navbar {
        display: none;
    }

    /* End thanh menu chính */


    /* Thanh sale */
    .sale {
        height: 57px;
        font-size: 22px;
    }

    /* End Thanh sale */


    /* home-page */

    .home-page {
        height: 354px;
    }
    
    .home-page .image-section {
        background-image: url(/Image/asics_homepage_desktop_hero_tile_novablast_5_teaser_102824.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-end;
        position: relative;
        align-items: center;
    }
    
    .home-page .content-section {
        position: absolute;
        align-items: center;
        margin-right: 80px;
    }
    
    
    .home-page .content-section h2 {
        font-size: 16px;
    }
    
    .home-page .content-section p {
        font-size: 12px;
        color: #001E62;
        margin-top: 6px;
    }

    .home-page .content-section .p2 {
        margin-top: 3px;
    }
    
    .home-page .buttons {
        display: flex;
        gap: 10px;
    
    }
    
    .home-page .btn {
        border-radius: 24px;
        font-size: 12px;
    }
    /* End-home-page */


    /* sup-content-mobile  */
    .notification {
        margin-top: 18px;
        margin-bottom: 38px;
    }

    .notification i {
        font-size: 20px;
    }

    .notification .message {
        font-size: 12px;
    }

    /* End sup-content-mobile  */


    /* Sản phẩm KAYANO31 */
    .product-kayano31 {
        height: 260px;
    }

    .product-kayano31 .content-section {
        padding-left: 80px;
    }

    .product-kayano31 .content-section p {
        font-size: 12px;
    }

    .product-kayano31 .content-section button {
        font-size: 12px;
        margin-top: 20px;
    }

    .product-kayano31 h2 {
        color: #fff;
        font-size: 16px;
    }

    .product-kayano31 p {
        color: #fff;
        font-size: 12px;
        margin-top: 8px;
    }

    /* End sản phẩm KAYANO31 */


    /* product-markdown  */
    .product-markdown {
        height: 500px;
    }

    .product-markdown .title {
        margin: 35px 0;
        font-size: 24px;
    }

    .product-markdown .content-section .products:nth-child(4),
    .product-markdown .content-section .products:nth-child(5) {
        display: none;
    }

    .product-markdown .content-section .products .sale {
        width: 36px;
        height: 20px;
        font-size: 9px;
    }

    /* End-product-markdown */


    /* GEL-1090 */
    .product-gel1090 .img-section {
        height: 245px;
    }

    .product-gel1090 .img-section .content-section {
        position: absolute;
        align-items: center;
        padding: 0 48px;
    }

    .product-gel1090 .img-section .content-section h2 {
        font-size: 16px;
        margin-top: 0px;
    }

    .product-gel1090 .img-section .content-section h2:last-child {
        margin-top: 0px;
    }

    .product-gel1090 .img-section .content-section .description p{
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .product-gel1090 .img-section .content-section .buttons {
        display: flex;
        gap: 10px;
        margin-top: 19px;
    }
    
    .product-gel1090 .img-section .content-section .btn {
        font-size: 12px;
    }
    /* End GEL-1090 */


    /* Thêm content GEL-1090 cho màn Mobile  */
    .sup-content-gel1090 {
        display: none;
    }
    /* End */


    /* Feedback  */
    .feedbacks {
        height: 375px;
    }

    .feedbacks .feedback-content {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .feedbacks .feedback-title p {
        margin: 40px 0;
        font-size: 24px;
    }

    .feedbacks .feedback-content .content {
        width: 208px;
        height: 175px;
        border-radius: 17px;
        margin-right: 47px;
    }

    .feedbacks .feedback-content .content .top-icon {
        font-size: 36px;
        margin-left: 30px;
        margin-top: -13px;
    }

    .feedbacks .feedback-content .content .person-feedback {
        margin-bottom: 15px;
    }

    .feedbacks .feedback-content .content .person-feedback .person-name p {
        font-size: 12px;
    }

    .feedbacks .feedback-content .content .person-feedback .person-name p:last-child {
        font-size: 8px;
        color: #8899A8;
        margin-top: 3px;
    }

    .feedbacks .feedback-content .content .person-feedback .avatar img {
        width: 42px;
        height: 42px;
    }

    .feedbacks .row-next i {
        font-size: 12px;
        margin-right: 5px;
    }

    /* End Feedback  */


    /* Footer  */
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 218px;
        background-color: #030303;
        color: #fff;
        padding: 20px 25px;
        font-family: 'Inter', sans-serif;
    }
    .footer-section h2 {
        font-size: 16px;
    }

    .footer-section ul li a {
        font-size: 10px;
    }

    .logo-section img {
        width: 159px;
        height: 98px;
    }

    .footer-section:nth-child(4) {
        display: none;
    }

    /* End Footer  */
}




/*Mobile(390)*/
/* Mobile model */
@media (max-width: 391px) {

    /* Thanh thông tin trên cùng  */
    .top-bar {
        height: 42px;
        font-size: 12px;
    }

    .left-info {
        margin-left: 14px;
    }

    .left-info span,
    .left-info a {
        display: none;
    }

    .right-info {
        margin-right: 14px;
    }

    .right-info a {
        margin-right: 0;
    }

    .right-info span {
        display: none;
    }

    .right-info .a4,
    .right-info .a2,
    .right-info .a4 {
        display: none;
    }

    /*End Thanh thông tin trên cùng */


    /* Thanh menu chính */
    .main-navbar {
        height: 60px;
        justify-content: center;
    }

    .main-navbar .main-left .logo {
        width: 126px;
        height: 42px;
    }

    .main-navbar .main-left .logo img {
        width: 100%;
        height: 100%;
        
    }

    .main-navbar .menu {
        display: none;
    }

    .main-navbar .main-right {
        display: none;
    }

    /* End thanh menu chính */


    /* Thêm thanh tìm kiếm màn mobile */
    .sup-main-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 34px;
    }

    .sup-main-navbar .search {
        display: flex;
        position: relative;
        align-items: center;
        width: 251px;
        height: 35px;
    }

    .sup-main-navbar .search input {
        width: 100%;
        height: 35px;
        padding: 10px 40px 10px 15px;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        color: #857E8C;
    }

    .sup-main-navbar .search .fa-magnifying-glass {
        position: absolute;
        right: 15px;
        color: #5a6b7b;
        font-size: 20px;
    }

    .sup-main-navbar .sup-icon {
        display: flex;
        align-items: center;
    }

    .sup-main-navbar .sup-icon i {
        font-size: 26px;
    }

    /* End thêm thanh tìm kiếm màn mobile */


    /* Thanh sale  */
    .sale {
        height: 53px;
        font-size: 14px;
        margin-top: 21px;
    }

    /* End thanh sale  */


    /* home-page */
    .home-page {
        width: 100%;
        display: flex;
        overflow: hidden;
        align-items: center;
        height: 332px;
    }

    .home-page .content-section {
        display: none;
    }

    /* End home-page  */


    /* Thêm content cho home-page  */
    .sup-content-homepage {
        display: block;
        padding: 0 14px;
    }

    .sup-content-homepage h2 {
        font-size: 12px;
        font-weight: bold;
        color: #001E62;
    }

    .sup-content-homepage p {
        margin-top: 8px;
        font-size: 9px;
        line-height: 1.5;
        color: #001E62;
    }

    .sup-content-homepage span {
        font-weight: bold;
    }

    .sup-content-homepage .buttons {
        margin-top: 19px;
        display: flex;
        justify-content: center;
    }

    .sup-content-homepage .buttons:last-child {
        margin-top: 12px;
    }

    .sup-content-homepage .buttons .button {
        width: 252px;
        height: 31px;
        border-radius: 24px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        background-color: #461571;
        color: white;
        border: none;
    }

    /* End content cho home-page  */


    /* Thanh phụ đề  */
    .notification {
        display: none;
    }


    /* KAYANO31 */
    .product-kayano31 {
        margin-top: 23px;
        height: 272px;
        background-position: 50% center;
    }

    .product-kayano31 .content-section {
        display: none;
    }

    /* End KAYANO31 */


    /* sup-content-kayano31 màn mobile */
    .sup-content-kayano31 {
        display: block;
        padding: 0 25px;
    }

    .sup-content-kayano31 h2 {
        font-size: 16px;
        margin-top: 33px;
        color: #001E60;
    }

    .sup-content-kayano31 .p1 {
        color: #001E60;
        font-size: 12px;
        font-weight: bold;
        margin-top: 4px;
        margin-bottom: 6px;
    }

    .sup-content-kayano31 .p2,
    .sup-content-kayano31 .p3 {
        font-size: 10px;
        color: #001E60;
    }

    .sup-content-kayano31 .buttons {
        margin-top: 19px;
        display: flex;
        justify-content: center;
    }

    .sup-content-kayano31 .button {
        width: 252px;
        height: 31px;
        border-radius: 24px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        background-color: #461571;
        color: white;
        border: none;
    }

    /* End sup-content-kayano31 màn mobile */


    /* Thanh bổ trợ cho .product-kayano31  */
    .sup-notification-kayano31 {
        display: flex;
        justify-content: center;
        margin-top: 37px;
    }

    .sup-notification-kayano31 {
        display: flex;
        justify-content: center;
        /* margin-bottom: 48px; */
    }

    .sup-notification-kayano31 i {
        font-size: 12px;
    }

    .sup-notification-kayano31 .message {
        font-size: 8px;
        display: flex;
        align-items: center;
        margin: 0 36px;
    }

    /* End  */


    /* product-markdown  */
    .product-markdown {
        width: 100%;
        height: 300px;
    }

    .product-markdown .title {
        margin: 35px 0;
        font-size: 20px;
    }


    .product-markdown .content-section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }

    .product-markdown .content-section .products {
        padding: 15px 9px 22px 9px;
    }


    .product-markdown .content-section .products .sale {
        margin-top: 0;
        width: 17px;
        height: 9px;
        font-size: 6px;
        border-radius: 4px;
        padding: 2px;
    }

    .product-markdown .content-section .products .product-img {
        width: 106px;
        height: 60px;
        margin-top: 7px;
        margin-bottom: 0;
    }

    .product-markdown .content-section .products .product-img img {
        width: 100%;
        height: 100%;
    }

    .product-markdown .content-section .row {
        width: 22px;
        height: 22px;
    }

    .product-markdown .content-section .product-detail {
        margin-left: 5px;
    }

    .product-markdown .content-section .product-name {
        font-size: 9px;
        margin-top: 21px;
    }

    .product-markdown .content-section .category {
        font-size: 7px;
    }

    .product-markdown .content-section .feedback {
        font-size: 7px;
    }

    .product-markdown .content-section .feedback i {
        font-size: 7px;
    }

    .product-markdown .content-section .new-price {
        font-size: 9px;
    }

    .product-markdown .content-section .old-price {
        font-size: 6px;
    }

    .product-markdown .content-section .products:nth-child(3),
    .product-markdown .content-section .products:nth-child(4),
    .product-markdown .content-section .products:nth-child(5) {
        display: none;
    }

    /* End product-markdown */


    /* GEL-1090  */
    .product-gel1090 .img-section {
        height: 450px;
        background-position: 40% center;
        margin-top: 20px;
    }

    .product-gel1090 .img-section .content-section {
        display: none;
    }
    /* End GEL-1090  */


    /* Thêm content cho GEL-1090  */
    .sup-content-gel1090{
        display: block;
        width: 100%;
        height: 211px;
        background-color: #EBE8E8;
        padding: 32px 14px;
    }

    .sup-content-gel1090 .title h2{
        font-size: 16px;
    }

    .sup-content-gel1090 .description {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .sup-content-gel1090 .buttons {
        margin-top: 19px;
        display: flex;
        justify-content: center;
    }

    .sup-content-gel1090 .buttons:last-child {
        margin-top: 12px;
    }

    .sup-content-gel1090 .buttons .button {
        width: 252px;
        height: 31px;
        border-radius: 24px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        background-color: #0B0510;
        color: white;
        border: none;
    }
    /* End thêm content cho GEL-1090 */



    /* Feedback  */
    .feedbacks {
        height: 428px;
        width: 100%;
    }

    .feedbacks .feedback-title p {
        margin-top: 49px;
        font-size: 21px;
        margin-bottom: 0;
    }

    .feedbacks .feedback-content .content {
        position: relative;
        justify-content: flex-end;
        width: 137px;
        height: 207px;
        margin-top: 61px;
        margin-right: 0px;
    }

    .feedbacks .feedback-content .content:last-child {
        display: none;
    }

    .feedbacks .feedback-content .content:first-child {
        margin-right: 20px;
    }

    .feedbacks .feedback-content .content .top-icon {
        position: absolute;
        font-size: 30px;
        top: 2px;
        left: 0px;
    }

    .feedbacks .feedback-content .content .person-feedback {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 18px;
    }

    .feedbacks .feedback-content .content .person-feedback .person-name p:last-child {
        font-size: 9px;
    }

    .feedbacks .feedback-content .content .person-feedback .person-name p:last-child {
        font-size: 6px;
        display: flex;
        justify-content: center;
    }

    .feedbacks .feedback-content .content .person-feedback .avatar {
        width: 31px;
        height: 31px;
    }

    .feedbacks .feedback-content .content .person-feedback .avatar img{
        width: 100%;
        height: 100%;
    }
    /* End Feedback  */


    /* Footer  */
    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        height: 425px;
        background-color: #030303;
        color: #fff;
        padding: 0 40px;
    }


    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-content  .footer-section {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer .footer-content .footer-section:last-child {
        display: none;
    }

    .footer .footer-content .footer-section h2 {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
    }

    .footer .footer-content .footer-section ul {
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .footer .footer-content .footer-section ul li {
        margin: 2px 0;
        display: flex;
        justify-content: center;
    }

    .footer .footer-content .footer-section ul li a {
        font-size: 8px;
    }

    .footer .footer-content .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .footer-content .logo-section img {
        width: 100%;
        height: 100%;
    }

    /* End Footer  */


    .chatbox {
        display: none;
    }
    /* .chatbox {
        width: 316px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #F43636;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 18px;
        border-radius: 13px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: fixed;
        bottom: 18px;
        right: 5px;
    } */

    /* .chatbox .chat-icon i {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 7px;
    } */

}