
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
}
/* Thanh thông tin trên cùng  */
.top-bar{
    display: flex;
    color: #fff;
    background-color: black;
    height: 66px;
    width: 100%;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
}

.top-bar a{
    color: #fff;
    text-decoration: none;
    margin-left: 17px;
    margin-right: 17px;
}

.top-bar a:nth-child(5){
    margin-right: 0px;
}

.left-info{
    margin-left: 72px;
}

.left-info span{
    margin-right: 17px;
}

.right-info {
    display: flex;
    align-items: center;
    margin-right: 72px;
}



.right-info img{
    margin-left: 17px;
}

/* Thanh menu chính */
.main-navbar {
    display: flex;
    height: 88px;
    align-items: center;
    font-size: 16px;
    color: #687C8F;
    justify-content: space-between;
    margin: 0 72px;
}

.main-navbar .main-left {
    display: flex;
}

.main-navbar .main-left .logo{
    width: 153px;
    height: 51px;
}

.main-navbar .menu{
    display: flex;
    align-items: center;
}

.main-navbar .menu a{
    text-decoration: none;
    margin-left: 26px;
    color: #687C8F;
}

.main-navbar .main-right {
    display: flex;
    align-items: center;
}

.main-navbar .search {
    margin-right: 35px;
    display: flex;
    position: relative;
    align-items: center;
    width: 202px;
    
}

.main-navbar .search input{
    width: 100%;
    height: 35px;
    padding: 10px 40px 10px 15px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    color: #857E8C;
}

.main-navbar .search .fa-magnifying-glass {
    position: absolute;
    right: 15px; /* Đặt khoảng cách từ icon đến bên phải của input */
    color: #5a6b7b;
    font-size: 20px;
}


.main-navbar .sup-icon{
    display: flex;
    align-items: center;
}

.main-navbar .sup-icon i{
    margin-right: 26px;
    font-size: 22px;
}

.sup-icon i:nth-child(3){
    margin-right: 0;
    font-size: 26px;
}
/* Thanh sale  */
.sale{
    background-color: red;
    display: flex;
    height: 90px;
    font-size: 38px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Sansita Swashed', cursive;
}

/* home-page */
.home-page {
    display: flex;
    overflow: hidden;
    align-items: center;
}
.image-section {
    height: 666px;
    width: 100%;
    background-image: url(/Image/asics_homepage_desktop_hero_tile_novablast_5_teaser_102824.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.content-section {
    position: absolute;
    align-items: center;
    margin-right: 80px;
}

.content-section span {
    font-weight: 700;
}

.content-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #001E62;
}

.content-section p {
    font-size: 20px;
    line-height: 1.5;
    color: #001E62;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 15px;
    
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", serif;
}

.btn-primary {
    background-color: #461571;
    color: white;
}

.btn-secondary {
    background-color: #461571;
    color: #fff;
}

.notification {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.notification i {
    font-size: 24px;
}

.notification .message {
    margin: 0 136px;
}

.product-kayano31 {
    background-image: url(/Image/asics_homepage_desktop_thin_hero_k31_110124.png);
    height: 450px;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.product-kayano31 .content-section{
    position: absolute;
    align-items: center;
    margin-left: 136px;
}

.product-kayano31 .content-section button {
    width: 134px;
    height: 47px;
    color: #001E60;
    font-size: 20px;
    border-radius: 25px;
    font-family: "Roboto", serif;
    font-weight: bold;
}

.product-kayano31 h2 {
    color: #fff;
}

.product-kayano31 p {
    color: #fff;
    font-size: 16px;
}

/* product-markdown  */

.product-markdown {
    height: 568px;
    
}

.product-markdown .title {
    margin: 75px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #001E63;
}

.product-markdown .content-section{
    width: 100%;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.product-markdown .content-section .products{
    border: 1px solid #969292;
    border-radius: 12px;
    padding: 14px 12px 39px 12px;
    margin-left: 26px;
}

.product-markdown .content-section .products:nth-child(6){
    margin-right: 26px;
}

.product-markdown .content-section .products .sale {
    border-radius: 5px;
    width: 44px;
    height: 28px;
    font-size: 13px;
    font-family: "Roboto", serif;
}

.product-markdown .content-section .products .product-img{
    padding-top: 23px;
    padding-bottom: 54px;
}

.product-markdown .content-section .row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    cursor: pointer;            /* Hiển thị con trỏ khi hover */
    transition: transform 0.2s ease;
}

.product-markdown .content-section .row i {
    color: #817C7C;
}

.product-markdown .content-section .product-detail{
    margin-left: 13px;
}

.product-markdown .content-section .product-name {
    display: flex;
    justify-content: center;
    color: #461571;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}

.product-markdown .content-section .category{
    color: #666666;
    margin-bottom: 5px;
}

.product-markdown .content-section .feedback{
    color: #615A5A;
    margin-bottom: 3px;
}

.product-markdown .content-section .feedback i {
    color: #7BF81C;
}

.product-markdown .content-section .new-price {
    color: #CD0808;
    font-size: 17px;
    margin-bottom: 3px;
}

.product-markdown .content-section .old-price {
    color: #A09898;
    font-size: 13px;
}